# Virtual environments
titanic_venv/
venv/

# # Python cache
# __pycache__/
# *.pyc

# # Jupyter
# .ipynb_checkpoints/

# OS stuff (macOS)
.DS_Store

# Large data files
data/

# Notebook Random
random.txt
Models and Predictions.txt